<h1> The Blog!</h1>
<% @posts.each do |post| %>
<h2><%= link_to post.title, post %></h2>
<div class="entry">
  <%= link_to "Edit", edit_post_path(post) %>
  <%= button_to "delete", post_path, :confirmation => "Are you sure?", :method => :delete %>
  <hr/>
</div>
<% end %>
<%= link_to "New Post", new_post_path%>