{{#if currentlyLoggedIn}}

  <button {{action 'logoutUser'}}> Logout </button>
  
 {{else}}
   {{#link-to 'login'}} Login {{/link-to}}

   {{#link-to 'signup'}} signup {{/link-to}}
{{/if}}



{{outlet}}

