<h1> Welcome </h1>
   {{#if application.currentlyLoggedIn}}
       Welcome from index   {{users.username}} 
         
    {{else}}
    
        <p>You must {{#link-to 'signup'}}register{{/link-to}}
         or if you have an account
         {{#link-to 'login'}} signin{{/link-to}} 
         to use other parts of the app.</p>
 
    {{/if}}