<h1> Login Form </h1>
<form {{action 'loginUser' on='submit'}}>
  {{input type="text" value=email  placeholder='email'}}
  {{input type='text' value=password placeholder='password'}}
  <button type='submit'> Login </button>
</form>
